/* .header: Styles for the header section of the application */
.header {
  background: var(--gray-700); /* Background color */
  display: flex; /* Flexbox layout */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  height: 12.5rem; /* Height of the header */
  position: relative; /* Relative positioning for child elements */
}

/* .newTaskForm: Styles for the form to add a new task */
.newTaskForm {
  position: absolute; /* Positioned relative to the header */
  height: 3.375rem; /* Height of the form */
  bottom: calc(-3.375rem / 2); /* Positioned below the header */
  width: 100%; /* Full width */
  max-width: 46rem; /* Maximum width */
  display: flex; /* Flexbox layout */
  gap: 0.5rem; /* Space between form elements */
  padding: 0 1rem; /* Horizontal padding */
}

/* .newTaskForm input: Styles for the input field */
.newTaskForm input {
  height: 100%; /* Full height of the form */
  flex: 1; /* Takes up remaining space */
  color: var(--gray-100); /* Text color */
  background: var(--gray-500); /* Background color */
  border: 1px solid var(--gray-700); /* Border color and width */
  border-radius: 0.5rem; /* Rounded corners */
  padding: 0 1rem; /* Horizontal padding */
  font-size: 1rem; /* Font size */
}

/* .newTaskForm input::placeholder: Styles for the placeholder text */
.newTaskForm input::placeholder {
  color: var(--gray-300); /* Placeholder text color */
}

/* .newTaskForm button: Styles for the submit button */
.newTaskForm button {
  height: 100%; /* Full height of the form */
  padding: 0 1rem; /* Horizontal padding */
  background: var(--blue-dark); /* Background color */
  color: var(--gray-100); /* Text color */
  border: none; /* No border */
  border-radius: 0.5rem; /* Rounded corners */
  display: flex; /* Flexbox layout */
  align-items: center; /* Center items vertically */
  gap: 0.375rem; /* Space between button content */
  font-weight: 700; /* Bold text */
  font-size: 0.875rem; /* Font size */
}