.inputContainer {
    align-items: center;
    display: flex;
    justify-content: center;
}

.inputContent {
    margin-top: calc(0px - 2rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputContent input {
    margin: 0px 8px;
    padding: 1rem;
    border: 1px solid var(--gray-700);
    width: 638px;
    height: 54px;
    border-radius: 8px;
    background: var(--gray-500);
    color: var(--gray-300);
    font-size: 1rem;
}

.inputContent button {
    border: none;
    height: 52px;
    width: 90px;
    background: var(--blue-dark);
    color: var(--gray-100);
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.2s, backround-color 0.2s;
}

.inputContent button .plusCircle{
    margin-left: 8px;
}

.inputContent button .buttonContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputContent button:hover{
    background: var(--blue-light);
    color: black;
}

.inputContent button img {
    margin-left: 8px;
}
