.task{
    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    width: 46rem;
    display: flex;
    
}

.circle{
    color: var(--blue-dark);
    margin-left: 1rem;
    margin-top: 1rem;
}

.trash{
    color: var(--gray-300);
    margin-right: 1rem;
    margin-top: 1rem;
}

.task textarea{
    width: 100%;
    height: auto;
    min-height: 3rem;
    background: transparent;
    color: var(--gray-100);
    border: 0;
    resize: none;
    border-radius: 8px;
    line-height: 1.4;
    margin: 1rem;
    overflow: hidden;
}