.wrapper{
  max-width: 90rem;
  padding: 0 1rem;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

@media(max-width: 768px){
  html{
    font-size: 87.5%;
  }

  .wrapper{
    grid-template-columns: 1fr;
  }
}
