.wrapper{
  max-width: 100%;
  display: block;
  grid-template-columns: 16rem 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

@media(max-width: 768px){
  html{
    font-size: 87.5%;
  }

  .wrapper{
    grid-template-columns: 1fr;
  }
}
