/* :root: Defines global CSS variables for colors */
:root {
    --gray-100: #f2f2f2; /* Light gray */
    --gray-200: #d9d9d9; /* Medium-light gray */
    --gray-300: #808080; /* Medium gray */
    --gray-400: #333333; /* Dark gray */
    --gray-500: #262626; /* Darker gray */
    --gray-600: #1a1a1a; /* Very dark gray */
    --gray-700: #0d0d0d; /* Almost black */

    --purple-light: #8284fa; /* Light purple */
    --purple-dark: #5e60ce; /* Dark purple */

    --blue-light: #4ea8de; /* Light blue */
    --blue-dark: #1e6f9f; /* Dark blue */

    --red-danger: #e25858; /* Red for danger or errors */
}

/* *: Resets margin, padding, and sets box-sizing for all elements */
* {
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    box-sizing: border-box; /* Includes padding and border in element's total width/height */
    font-family: "Inter", sans-serif; /* Sets the default font */
}

/* body: Styles for the body element */
body {
    background: var(--gray-600); /* Background color */
    color: var(--gray-100); /* Text color */
    min-height: 100vh; /* Ensures the body takes up at least the full viewport height */
    -webkit-font-smoothing: antialiased; /* Improves font rendering on WebKit browsers */
}

/* button: Styles for all button elements */
button {
    cursor: pointer; /* Changes the cursor to a pointer on hover */
}